<table class="definitions">
	<tr>
		<td>ADMIN</td>
		<td colspan="3">Administration/Facilities</td>
		<td>K - 5</td>
		<td>Multiple Elementary Classes</td>
	</tr>
	<tr>
		<td>PRE</td>
		<td colspan="3">Preschool (9 AM - 12 PM, or as designated)</td>
		<td>LIB</td>
		<td>Library</td>
	</tr>
	<tr>
		<td>PCARE</td>
		<td colspan="3">Preschool Before/Aftercare (7 - 9 AM / 12-6:30 PM)</td>
		<td>ECARE</td>
		<td>Elementary (including Kindergarten Before/Aftercare)</td>
	</tr>
	<tr>
		<td>KDG</td>
		<td>Kindergarten</td>
		<td>3rd</td>
		<td>Third Grade</td>
		<td>S 3 - 5</td>
		<td>Summer Drama Program for Upper Grades</td>
	</tr>
	<tr>
		<td>1st</td>
		<td>First Grade</td>
		<td>4th</td>
		<td>Fourth Grade</td>
		<td>S K - 3</td>
		<td>Summer Fun </td>
	</tr>
	<tr>
		<td>2nd</td>
		<td>Second Grade</td>
		<td>5th</td>
		<td>Fifth Grade</td>
		<td>P/M/O</td>
		<td>Pre-approved Prep/Meetings/Other</td>
	</tr>
	<tr>
		<td>VAC</td>
		<td>Vacation</td>
		<td>UNPAID</td>
		<td>Unpaid Time Off</td>
		<td>SICK</td>
		<td>Sick Leave</td>
	</tr>
</table>